@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}

body {
    background: url(shutterstock_581537176.0.jpg) ;
    width: 1250px;
}
.form {
    margin: 150px 600px;
    width: 300px;
    padding: 30px 25px;
    border-radius: 35px;
    translate: 440px;
   /* background: #fdedec;  */
   border: 2px solid rgba(255, 255, 255, 0.5);
   background: transparent;
   backdrop-filter: blur(20px);
   box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
h1.login-title {
    color: #cb4335;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
.login-input {
    font-size: 15px;
    border: 1.5px solid #ccc;
    padding: 15px;
    margin-bottom: 25px;
    margin-left: 11px;
    height: 25px;
    width: calc(100% - 23px);
    border-radius: 12px;
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
.login-button {
    color: #fff;
    background: #1a5276;
    border: 1px;
    outline: 2px;
    width: 100%;
    border-radius: 16px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.link {
    margin-top: 10px;
    color: #1f61d8;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    color: #1f61d8;
}
h3 {
    font-weight: 500;
    text-align: center;
}